.container {
  height: 30vh;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  justify-content: space-between;
  .content {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
  }
  .contactContainer {
    display: flex;
    text-align: left;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    .contactContent {
      width: 97%;
      justify-content: space-between;
      input {
        width: 27%;
      }
    }
  }
  .homeSelectionButton {
    width: 97%;
    height: 5vh;
    position: absolute;
    bottom: 4vh;
  }
}
